<!DOCTYPE html>
{% extends 'Navbar/ProjectNavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col">
<!-- name in the url's.py and url should match -->
        <h1>Simple Calculator</h1>
    <form method="post" action="{% url 'calculatorpagelogic' %}" >
        {% csrf_token %}
        <input type="number" name="num1" step="any" placeholder="Enter first number" required>
        <input type="number" name="num2" step="any" placeholder="Enter second number" required>
        <select name="operation" required>
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <button type="submit">Calculate</button>
    </form>
    </div>
    <div class="col order-5">

        <h3>Output will be displayed here</h3>
     {% if result is not None %}
    <h2>Result: {{ result }}</h2>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
</body>
</html>